<div class="container">
  <header class="header">
    <input type="text" class="task-input"/>
    <button class=".btn task-add">+</button>
  </header>
  <main class="content">
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
    <div class="task">Task </div>
  </main>
</div>